<carousel [isAnimated]="true">
  <slide>
    <img src="assets/Banner-Expansion-1.png" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption caption-left d-none d-md-block">
      <img class="slide-logo" src="assets/logo-ok.png">
      <h2>Cast expansion</h2>
      <p>AGORA TEMOS MILHARES DE ESCRITÓRIOS</p>
      <button class="btn btn-danger">SAIBA MAIS!</button>
    </div>
  </slide>
  <slide>
    <img src="assets/Banner-Home-2.png" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption caption-left d-none d-md-block" style="color: white;">
      <h1>A MELHOR INTEGRADORA DE SOLUÇÕES PARA O SEU NEGÓCIO</h1>
      <button class="btn btn-danger">CONHEÇA A CAST GROUP ></button>
    </div>
  </slide>
  <slide>
    <img src="assets/Banner-Home-3.png" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption caption-right d-none d-md-block">
      <h3>SAP Business One</h3>
      <p>Soluções para pequenas e médias empresas em crescimento</p>
      <button class="btn btn-danger">SAIBA MAIS!</button>
    </div>
  </slide>
</carousel>

<div class="container marketing">

  <div class="row featurette" style="margin-top: 4rem;">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Cast group</h2>
      <p class="lead">Com 30 anos de mercado, a Cast group é uma empresa nacional de Tecnologia da Informação e automação com larga experiência em grandes projetos para as áreas privada e pública, que atua com consultoria e soluções de TI e TA, bem como, outsourcing de desenvolvimento, aplicações, infraestrutura, e implementação de soluções ERP, BI, IoT, ECM, HCM, CRM, etc., de um ecossistema de parceiros líderes de mercado, tais como SAP, IBM, Siemens, Outsystems, Vistex, Microsoft, Schneider-Electric, Universal Robots, Equinix, Neoway e ServiceNow. Nos últimos anos, a Cast group adquiriu as empresas: Meta Informática, SUM, PowerLogic, HRDevelopers, Logix Eletricidade e Automação, Pelissari e Avannt, para complementar suas ofertas para o setor privado.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="assets/logo-ok.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="">
      <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
    </div>
  </div>

  <hr class="featurette-divider">

  <h1>CONHEÇA NOSSA ESTRUTURA:</h1>

  <div class="estrutura">
    <img src="assets/ti-1.png">
    <img src="assets/sap.png">
    <img src="assets/multi.png">
    <img src="assets/clientes.png">
</div>

<hr class="featurette-divider">

</div><!-- /.container -->

<!-- FOOTER -->
<footer class="bg-dark">
  <div class="container">
    <p><strong>Copyright 2018 Cast group Informática S.A. - Todos os direitos reservados</strong></p>
    <p><strong>DESENVOLVIDO POR THIAGO CAMPOS UGLAR - NOVEMBRO 2021</strong></p>
  </div>
</footer>

